@define-mixin navigation-primary {
  --_background: var(--nyc-cmp-navigation-primary-background, #000);
  --_color: var(--nyc-cmp-navigation-primary-color, #FFF);
  --_padding-inline: var(--nyc-cmp-navigation-primary-padding-inline, 0);
  --_padding-block: var(--nyc-cmp-navigation-primary-padding-block, 0);
  background: var(--_background);
  color: var(--_color);
  width: 100%;
  padding-inline: var(--_padding-inline);
  padding-block: var(--_padding-block);

  & > ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    & > li {
      display: flex;

      & > ul {
        background: var(--_background);
        display: none;
        position: fixed;
        top: 56px;
        left: 0;
        z-index: 999;
        width: 100%;
      }

      &:hover {
        & > ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
