.card {
  --_background: var(--nyc-cmp-card-background, white);
  --_background-hover: var(--nyc-cmp-card-background-hover, white);
  --_shadow: var(--nyc-cmp-card-shadow, none);
  --_color: var(--nyc-cmp-card-color, inherit);
  --_color-hover: var(--nyc-cmp-card-color-hover, inherit);
  --_body-color: var(--nyc-cmp-card-body-color, inherit);
  --_border-color: var(--nyc-cmp-card-border-color, hsla(0, 0%, 93%, 1));
  --_border-width: var(--nyc-cmp-card-border-width, 1px);
  --_border-radius: var(--nyc-cmp-card-radius-base, 4px);
  --_border: var(--nyc-cmp-card-border, var(--_border-width) solid var(--_border-color));
  --_border-hover: var(--nyc-cmp-card-border-hover, var(--_border-width) solid (--_border-color));
  --_heading-font-size: var(--nyc-cmp-card-heading-font-size, 1.125rem);
  --_body-font-size: var(--nyc-cmp-card-body-size, 1rem);
  --_padding: var(--nyc-cmp-card-padding, 1rem);

  /* container prop is collapsing the reel card slides */
  /* container: card-container / inline-size; */

  position: relative;
  display: flex;
  flex-direction: column;

  background-color: var(--_background);
  color: var(--_color);

  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  box-shadow: var(--_shadow);

  transition: all .3s ease;
  /* min-block-size: 2.5rem; */

  &:hover {
    background: var(--_background-hover);
    color: var(--_color-hover);
    border: var(--_border-hover);
  }
}
.card > * + * {
  margin-block-start: .5rem;
}
.card__header {
  padding: var(--_padding);
  /* padding-block-end: 0; */
  display: flex;
  flex: 1;
  & :--heading {
    flex: 1;
    font-size: var(--_heading-font-size);
  }
}

.card:not(:has(.card__body)) .card__header {
  padding-block: var(--nyc-sys-space-base);
}
.card__media {
  order: -1;
  margin-block-start: 0;
  & img {
    width: 100%;
  }
}
.card__body {
  flex-grow: 1;
  padding: var(--_padding);
  padding-top: 0;
  color: var(--_body-color);
  font-size: var(--_body-font-size);
}
.card__primary-action,
.card__primary-action:link {
  display: flex;
  align-items: flex-start;
  color: currentColor;
  text-decoration: none;
  &:before {
    content: '';
    position: absolute;
    top: 0; /* 2 */
    left: 0; /* 2 */
    right: 0; /* 2 */
    bottom: 0; /* 2 */
    Z-index: 1; /* 3 */
  }
  & > :first-child {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &:focus {
    text-decoration: underline;
  }
  & [class*=i-] {
    font-size: 1.5rem;
    margin-inline-start: .5rem;
  }
}
.card[data-variant=large] {
  & * {
    display: flex;
    flex-wrap: wrap;
  }

  & .card__header {
    flex-grow: 1;
  }

  & .card__header :--heading {
    font-size: calc(var(--_heading-font-size) * 1.16);
    max-width: none;
    width: 100%;
  }

  .card__primary-action {
    /* flex-direction: column; */
    height: 100%;
    width: 100%;
    /* align-items: center; */
    & > :first-child {
      flex-basis: 280px;
    }
    & > :last-child {
      margin-block-start: auto;
      margin-inline-start: auto;
    }
  }

}
nyc-event-card,
.card[data-variant="event"] {
  --_border-radius: var(--nyc-cmp-card-radius-lg);
  max-width: var(--nyc-cmp-card-width-lg);
  width: 100%;
  min-height: 22.5rem;
  &:hover {
      --_border-radius: var(--nyc-cmp-card-radius-lg-hover);
  }

  & .card__body {
    display: flex;
    flex-flow: column;
  }
}

.card__event-details {
  margin-block-start: auto;
}
.card[data-variant="feature"] {
  --_border-radius: var(--nyc-cmp-card-radius-xl);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "heading figure"
    "body figure";
  row-gap: 0;
  padding: var(--_padding);

  & .card__header {
    grid-area: heading;
  }

  & .card__media {
    grid-area: figure;
    overflow: hidden;
    border-radius: var(--nyc-sys-radius-base);
  }

  & .card__body {
    grid-area: body;
  }

}
/* @container grid-container (max-width: 768px) { */
/*   .card { */
/*     flex-direction: row; */
/*     flex-wrap: wrap; */
/*     overflow: hidden; */
/*   } */
/*   .card__header { */
/*     flex: 1; */
/*     flex-basis: 100%; */
/*   } */
/*   .card__media { */
/*     width: 35%; */
/*     height: 100%; */
/*     position: absolute; */
/*     & img { */
/*       width: 100%; */
/*       height: 100%; */
/*       object-fit: cover; */
/*     } */
/*   } */
/*   .card__body { */
/*     flex-grow: 1; */
/*     flex-basis: 100%; */
/*   } */
/*   .card:has(.card__media) { */
/*     & .card__header, */
/*     & .card__body { */
/*       margin-left: auto; */
/*       flex-basis: 65%; */
/*       flex-grow: 0; */
/*     } */
/*   } */
/* } */
@container card-container (min-width: 320px) {
  .card__media {
    width: 35%;
    height: 100%;
    position: absolute;
    aspect-ratio: 1/1;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card__body {
    flex-grow: 1;
    flex-basis: 100%;
  }
  .card:has(.card__media) {
    & .card__header,
    & .card__body {
      margin-left: auto;
      flex-basis: 65%;
      flex-grow: 0;
      width: 65%;
    }
  }    
}
/* @container card (min-width: 11rem) and (max-width: 15rem) { */
/*   .card__header { */
/*     aspect-ratio: 4 / 3; */
/*   } */
/* } */
